* {
    margin: 0;
}

header {
    background-color: rgb(255, 255, 255);
    height: 200px;
}

section {
    background-color: rgb(255, 255, 255);
}

footer {
    background-color: rgb(174, 174, 174);
}

h1 {
    text-align: center;
}

.stats {
    border-bottom: 2px solid rgb(254, 0, 203);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    border-bottom: 2px solid black;
    color: black;
}

img {
    margin: 100px 12.5%;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 5% 0;
}

li {
    margin: auto;
}

p {
    font-size: 20px;
    padding: 20px 10px;
}

table {
    margin: 50px auto;
}